

label {
        margin-bottom: 10px;
        padding-top: 20px;
}
.wall {
        width: 50px;
        height: 50px;
        background-image: url('wall.png');
        display: inline-block;
}
.vida {
        width: 50px;
        height: 50px;
        background-image: url('vida.png');
        display: inline-block;
}
.ground {
        width: 50px;
        height: 50px;
        background-image: url('bg.png');
        display: inline-block;
}

.jogador {
        width: 50px;
        height: 50px;
        background-image: url('jogador.png');
        display: inline-block;
}
.fruta {
        width: 50px;
        height: 50px;
        background-image: url('frutaa.png');
        display: inline-block;
}
.arvore {
        width: 50px;
        height: 50px;
        background-image: url('arvore3.png');
        display: inline-block;
}
.pedra {
        width: 50px;
        height: 50px;
        background-image: url('pedra.png');
        display: inline-block;
}
.agua {
        width: 50px;
        height: 50px;
        background-image: url('agua.jpg');
        display: inline-block;
}
.ponte {
        width: 50px;
        height: 50px;
        background-image: url('ponte.png');
        display: inline-block;
}
.fim {
        width: 50px;
        height: 50px;
        background-image: url('eevee.png');
        display: inline-block;
}
.chao {
        width: 50px;
        height: 50px;
        background-image: url('walll.png');
        display: inline-block;
}
/*para obrigar a nao haver espacos entre as linhas */
div {
        line-height: 0px;
}
/*setinhas*/


.up {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.up:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.up:active {
	position:relative;
	top:1px;
}